@import "../variables.scss";

.footer {
  background: $gradientHorizontal;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: $darkGreen;
}
.footer__logo {
  padding: 5px;
}

.footer__socialIcons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    width: 30px;
    height: 30px;
  }
}
.footer__social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer__contact {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}