@import "../variables.scss";

.home__main {
  height: 500px;
  background: $gradientWhite;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &--container {
    width: 65%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  button {
    border-radius: 40px;
    background: transparent;
    border: solid 0.8px $darkGreen;
    padding: 5px 10px;
    font-family: "Quicksand", sans-serif;
    width: 180px;
    height: 50px;
    font-size: 1rem;
    color:$darkGreen;
    margin: 25px 0px;
  }
  button:hover {
    background:$electricGreen;
    color: white;
    border: transparent;
   }
  img {
    width: 300px;
    height: auto;
  }
  h4 {
    font-family: $text;
    font-weight: bold;
    margin: 0;
    color: $green;
    font-size: 5em;
  }
  p {
    font-family: $text;
    font-weight: bold;
    margin: 0;
    color: $electricGreen;
    font-size: 3em;
  }
}
.home--button-link {
  text-decoration: none;
  color: $darkGreen;
}
#worldSpinning {
  -webkit-animation: rotation 20s infinite linear;
}
@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}