@import "../variables.scss";

.login {
  height: calc(100vh - 330px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.login:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../../assets/static/greenWorld.png');
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
}

.login__form {
  h4 {
   margin: 0;
  }
  padding-top: 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $darkGreen;
  button {
    background: transparent;
    border: solid 1px $green;
    color: $darkGreen;
    font-family: $text;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    width: 80px;
    margin-top: 10px;
  }
   button:hover {
    background:$green;
    color: white;
   }
  input {
    margin: 10px 0px;
    background: transparent;
    border: none;
    border-bottom: solid 2px $darkGreen;
    padding: 5px 10px;
    font-family: $text;
    width: 200px;
  }
}
.login__social{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  font-weight: bold;
  img {
    width: 25px;
    height: 25px;
  }
}

.login__input {
  margin: 10px 0;
}
