// colors
$electricGreen: #C2F261;
$blue: #30F2F2;
$yellow: #F2F230;
$green: #91F291;
$softgreen: #61F2F2;
$darkGreen: #6FB9A2;
$gradientVertical: linear-gradient(90deg, rgba(194,242,97,0.6573004201680672) 0%, rgba(242,242,48,0.3071603641456583) 35%, rgba(97,242,242,0.6292892156862745) 100%);
$gradientHorizontal: linear-gradient(0deg, rgba(194,242,97,0.6208858543417367) 0%, rgba(97,242,242,0.8113620448179272) 100%);
$gradientWhite: linear-gradient(0deg, rgba(194,242,97,0.018644957983193322) 0%, rgba(97,242,242,0.7049194677871149) 100%);

// fonts
$main:'Sacramento', cursive;
$text:'Quicksand', sans-serif;
